@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fbefe7;
  --primary-color: #252525
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #fbefe7;
    --primary-color: #252525
  }
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}
